.header-bar {
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #20232a;

  .link {
    margin-right: 8px;
    color: white;
    &.active {
      color: #61dafb;
    }
  }
}