.card {
  width: 120px;
  padding: 8px;
  border: solid 1px grey;
  &.diamond, &.heart {
    color: red;
  }
  &:hover {
    border-color: blue;
    cursor: pointer;
  }

  .suit {
    font-size: 32px;
    line-height: 1.3;
  }
  .rank {
    font-size: 20px;
    line-height: 1.3;
  }
}