.layout {
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 50px auto 40px;
  grid-template-areas: 'header header' 'main side' 'footer footer';
  height: 100%;
  .header-bar {
    grid-area: header;
  }
  .main-content {
    grid-area: main;
  }
  .side-bar {
    grid-area: side;
  }
  .footer-bar {
    grid-area: footer;
  }
}